<!DOCTYPE html>
<html>
<head>
    <title>YOLO Detection</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <h1>Take pictures for approval</h1>
    <form action="/detect" method="post" enctype="multipart/form-data" id="upload-form">
        <div class="container">
            <div class="options">
                <p>Pick an option</p>
                <label>
                    <input type="radio" name="location" value="tower"> On Tower
                </label>
                <label>
                    <input type="radio" name="location" value="ground"> On Ground
                </label>
            </div>
            <div class="camera-container">
                <div class="camera-interface">
                    <video id="camera" autoplay></video>
                    <canvas id="canvas" style="display: none;"></canvas>
                </div>
                <div class="buttons">
                    <input type="file" id="file-input" multiple style="display: none;">
                    <button type="button" id="camera-button">Take Picture</button>
                    <button type="submit" id="submit-button">
                        Submit
                        <i class="fas fa-spinner fa-spin" id="spinner" style="display: none;"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
    <div id="preview-container"></div>
    <div id="results"></div>

    <!-- Modal -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <p id="modal-message"></p>
            <button id="modal-action-button">Try Again</button>
        </div>
    </div>

    <!-- Popup for switching options -->
    <div id="option-popup" class="modal">
        <div class="modal-content">
            <span class="close-popup-button">&times;</span>
            <p>You can't switch options without clearing all pictures.</p>
            <button id="popup-ok-button">OK</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
