<!DOCTYPE html>
<html>
<head>
    <title>YOLO Detection</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Upload or Take a Picture for approval</h1>
    <form action="/detect" method="post" enctype="multipart/form-data" id="upload-form">
        <input type="file" name="file" accept="image/*" id="file-input">
        <button type="button" id="camera-button">Take Picture</button>
        <input type="submit" value="Upload">
    </form>
    <div>
        <img id="preview" src="#" alt="Image Preview" style="display: none;">
    </div>
    <div id="results"></div>

    <video id="camera" style="display: none;" autoplay></video>
    <canvas id="canvas" style="display: none;"></canvas>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
